@import url("./fonts.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "plain-light";
}

html,
body {
  width: 100%;
  height: 100%;
  cursor: none;
}

main {
  position: relative;
  background-color: #151515;
  overflow-x: hidden;
}

#crsr {
  width: 3vw;
  height: 3vw;
  pointer-events: none;
  border-radius: 50%;
  mix-blend-mode: difference;
  border: 1px solid #ffffff82;
  position: fixed;
  z-index: 1000;
  transform: translate(-50%, -50%);
}

#loader {
  padding: 20vh 10vw;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background-color: #0B0B0B;
}

.line h1 {
  font-size: 6vw;
  font-family: "plain-light";
  font-weight: 600;
  text-transform: uppercase;
}

.line {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: start;
  overflow: hidden;
  gap: 2vw;
}

#line1-p1 {
  display: flex;
  align-items: center;
  gap: 1vw;
}

#line1-p1 h5 {
  font-size: 3vw;
  font-family: "silkserif-lightitalic";
  font-weight: 400;
}

#line1-p1 h5.load {
  width: 5vw;
  text-align: right;
}

.line h2 {
  text-transform: uppercase;
  font-family: "plain-light";
  font-size: 4.7vw;
  opacity: 0;
  animation: 2s infinite;
}

@keyframes anime {
  0% {
    font-family: "plain-light";
    -webkit-text-stroke: 1px white;
    color: white;
    font-weight: 500;
    opacity: 1;
  }

  48% {
    font-family: "plain-light";
    -webkit-text-stroke: 1px white;
    color: white;
    font-weight: 500;
    opacity: 0;
  }

  50% {
    font-family: "silkserif-lightitalic";
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-weight: 500;
    opacity: 1;
  }

  100% {
    font-family: "silkserif-lightitalic";
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-weight: 500;
    opacity: 0;
  }
}

#page1 {
  width: 100%;
  height: 100vh;
  background-color: #151515;
}

#page1 p {
  font-size: 1vw;
  width: 20%;
  top: 6vh;
  left: 4vw;
  font-family: "plain-light";
  font-weight: 300;
}

.svg-container {
  display: flex;
  gap: 3vw;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding: 6vh 4vw;
}

.nav-p1 {
  display: flex;
  align-items: center;
  gap: 15vw;
}

.nav-p2 {
  display: flex;
  gap: 2.2vw;
}

.nav-p2 h2 {
  font-family: "plain-light";
  font-size: 1.13vw;
  font-weight: 500;
}

#hero-anime {
  display: flex;
}

.hero-text:nth-child(1) {
  margin-top: 10vh;
}

#text {
  width: 72%;
  margin-left: 28%;
  position: relative;
}

#text::before {
  content: "01";
  position: absolute;
  font-size: 3.6vw;
  font-weight: 100;
  font-family: "silkserif-lightitalic";
  left: -8%;
}

.hero-text {
  overflow: hidden;
}

.hero-text h1,
.hero-text h2 {
  font-size: 7.3vw;
  line-height: 7.5vw;
  font-family: "plain-regular";
  text-transform: uppercase;
  font-weight: 500;
  /* letter-spacing: .4vw; */
}

.hero-text h2 {
  border-bottom: .6vw solid white;
  padding-bottom: .6vw;
  transition: border ease 0.3s;
}

#hero-anime h2:hover {
  -webkit-text-stroke: 1px white;
  font-weight: 500;
  color: transparent;
  border-bottom: .6vw solid transparent;
  transition: all ease .3s;
}

/* -----------------------------------page2----------------------------------- */

#page2 {
  width: 100%;
  background-color: #151515;
  margin-top: 20vh;
  height: 100vh;
}

#vdo-container {
  width: 70vw;
  height: 80vh;
  position: relative;
  left: 30%;
}

#vdo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

#vdo-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#vdo-cursor {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background-color: #FFA63D;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  top: -10%;
  left: 70%;
}

#vdo-cursor i {
  font-size: 2.5vw;
  color: white;
}

#page3 {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 17vh 2vw;
}

#page3 h1 {
  text-transform: uppercase;
  font-size: 8vw;
  position: relative;
  margin-left: 28%;
}

#page3 h1::before {
  content: "02";
  position: absolute;
  font-size: 3.5vw;
  font-weight: 100;
  font-family: "silkserif-lightitalic";
  top: 8%;
  left: -10%;
}

#page3 .underline {
  margin-left: 28%;
}

#image-div-container {
  padding: 1vw;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.page3-circle1 {
  width: 20vw;
  height: 20vw;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-top: 30vh;
  margin-left: 13vw;
  position: relative;
}

.page3-circle2 {
  width: 20vw;
  height: 20vw;
  border: 2px solid #fff;
  border-radius: 50%;
  margin:0 5vw;
  position: relative;
}

.page3-circle1 .circle-in,.page3-circle2 .circle-in {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  scale: 0;
  transition: all ease .3s;
}

.circle-in p {
  font-size: 1vw;
  color: #000;
  font-weight: 500;
  width: 60%;
  scale: 0;
  opacity: 0;
  transition: all ease .3s;
  transition-delay: .3s;
}

.page3-circle1:hover .circle-in,.page3-circle2:hover .circle-in{
  scale: 1;
}
.page3-circle1:hover p,.page3-circle2:hover p{
  scale: 1;
  opacity: 1;
}

.image-div {
  width: 23vw;
  height: 30vw;
  overflow: hidden;
  margin: 2vw;
}

.image-div:nth-child(2) {
  width: 27vw;
  height: 38vw;
}

.image-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#page4 {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

#page4-content {
  width: 72vw;
  position: relative;
  left: 28%;
}

#page4-content h1 {
  text-transform: uppercase;
  font-size: 8vw;
  position: relative;
}

#page4-content h1::before {
  content: "03";
  position: absolute;
  font-size: 3.5vw;
  font-weight: 100;
  font-family: "silkserif-lightitalic";
  top: 5%;
  left: -10%;
}

.underline {
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin: 3vw 0;
}

#page4-content .underline:nth-child(6) {
  margin: 2vw 0;
  margin-top: 10vw;
}

#page4-content>p:nth-child(3) {
  font-size: 2.4vw;
  width: 52%;
  margin-top: 2vw;
}

#page4-flex {
  display: flex;
  gap: 2vw;
  margin-top: 4vw;
}

#page4-flex img {
  height: 90vh;
}

#page4-flex div {
  width: 30%;
}

.first {
  margin-bottom: 2vw;
}

#page4-flex .txt {
  font-size: 1.1vw;
  line-height: 1.4vw;
}

#blue-div {
  background-color: #3F7DF4;
  width: 45vw;
  padding: 4vw 3.4vw;
  position: relative;
  margin-top: -20vh;
  margin-left: 23vw;
}

.blue-elem {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 2vw 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.724);
}

.blue-elem p {
  font-size: 1.1vw;
  width: 60%;
}

.blue-elem h4 {
  font-size: 1.6vw;
  font-weight: 500;
}

#page5 {
  margin-top: 10vh;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

#page5 span {
  font-family: "silkserif-lightitalic";
  -webkit-text-stroke: 1px white;
  color: transparent;
}

.elem,
.elem2 {
  /* margin-bottom: 1vw; */
  white-space: nowrap;
}

.elem h1 {
  font-size: 7.5vw;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  animation-name: marqueeEffect;
  animation-timing-function: linear;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  margin-right: 16px;
  line-height: 8vw;
}

.elem2 h1 {
  font-size: 7.5vw;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  animation-name: marqueeEffect;
  animation-timing-function: linear;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  margin-right: 16px;
  line-height: 8vw;
}

@keyframes marqueeEffect {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(calc(-100% - 20px));
  }
}

footer {
  width: 65%;
  margin-left: 27vw;
  height: 100vh;
}

footer>.underline {
  margin: 2vw 0;
}

footer>h1 {
  font-size: 8vw;
  font-weight: 500;
  font-family: "plain-regular";
  text-transform: uppercase;
  position: relative;
}

#footer-div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 4vw 0;
}

.box {
  min-width: 30%;
}

.box h5 {
  font-size: 1.2vw;
  font-weight: 500;
  font-family: "plain-regular";
  margin-bottom: 2vw;
}

.box h6 {
  font-size: 1.8vw;
  font-weight: 500;
  font-family: "plain-regular";
  line-height: 2vw;
}

footer>h1::before {
  content: "04";
  position: absolute;
  font-size: 3.5vw;
  font-weight: 100;
  font-family: "silkserif-lightitalic";
  top: 10%;
  left: -10%;
}

._canvas_container {
  z-index: 99999 !important;
  pointer-events: none;
}