@import url("./fonts.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "plain-light";
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  position: relative;
  background-color: #151515;
  overflow-x: hidden;
}

#crsr {
  width: 3vw;
  height: 3vw;
  pointer-events: none;
  border-radius: 50%;
  mix-blend-mode: difference;
  border: 1px solid #ffffff82;
  position: fixed;
  z-index: 1000;
  transform: translate(-50%, -50%);
}

#loader {
  padding: 20vh 10vw;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background-color: #0B0B0B;
}

.line h1 {
  font-size: 6vw;
  font-family: "plain-light";
  font-weight: 600;
  text-transform: uppercase;
}

.line {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: start;
  overflow: hidden;
  gap: 2vw;
}

#line1-p1 {
  display: flex;
  align-items: center;
  gap: 1vw;
}

#line1-p1 h5 {
  font-size: 3vw;
  font-family: "silkserif-lightitalic";
  font-weight: 400;
}

#line1-p1 h5.load {
  width: 5vw;
  text-align: right;
}

.line h2 {
  text-transform: uppercase;
  font-family: "plain-light";
  font-size: 4.7vw;
  opacity: 0;
  animation: 2s infinite;
}

@keyframes anime {
  0% {
    font-family: "plain-light";
    -webkit-text-stroke: 1px white;
    color: white;
    font-weight: 500;
    opacity: 1;
  }

  48% {
    font-family: "plain-light";
    -webkit-text-stroke: 1px white;
    color: white;
    font-weight: 500;
    opacity: 0;
  }

  50% {
    font-family: "silkserif-lightitalic";
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-weight: 500;
    opacity: 1;
  }

  100% {
    font-family: "silkserif-lightitalic";
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-weight: 500;
    opacity: 0;
  }
}



#page1 {
  width: 100%;
  height: 100vh;
  background-color: #151515;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding: 6vh 8vw;
}

.nav-p2 {
  display: flex;
  gap: 2vw;
}

.nav-p2 h2 {
  font-family: "plain-light";
  font-size: 1.1vw;
  font-weight: 500;
}

#hero-anime {
  display: flex;
}

.hero-text:nth-child(2) {
  margin-top: 10vh;
}

.hero-text {
  width: 70%;
  overflow: hidden;
  margin-left: 30%;
}

.hero-text h1,
.hero-text h2 {
  font-size: 7vw;
  line-height: 7.5vw;
  font-family: "plain-light";
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .4vw;
}

.hero-text h2 {
  border-bottom: .6vw solid white;
  padding-bottom: .6vw;
  /* transition: all ease 0.3s; */
}

#hero-anime h2:hover {
  -webkit-text-stroke: 1px white;
  font-weight: 500;
  color: transparent;
  border-bottom: .6vw solid transparent;
}

/* -----------------------------------page2----------------------------------- */

#page2 {
  width: 100%;
  background-color: #151515;
  height: 100vh;
}

#vdo-container {
  width: 70vw;
  height: 80vh;
  position: relative;
  left: 30%;
}

#vdo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
#vdo-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#vdo-cursor{
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background-color: #FFA63D;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  top: -10%;
  left: 70%;
}

#vdo-cursor i{
  font-size: 2.5vw;
  color: white;
}

#page3{
  width: 100%;
  min-height: 100vh;
  position: relative;
}
#page4{
  width: 100%;
  min-height: 100vh;
  position: relative;
}

#page4-content{
  width: 70vw;
  position: relative;
  left: 30%;
}
#page4-content h1{
  text-transform: uppercase;
  font-size: 7vw;

}
.underline{
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin: 1vw 0;
}
#page4-content>p{
  font-size: 2vw;
  width: 50%;
  margin-top: 2vw;
}

#page4-flex{
  display: flex;
}

#page4-flex img{
  width: 50%;
}
#page4-flex div{
  width: 30%;
}
.first{
  margin-bottom: 1vw;
}