@font-face {
    font-family: "plain-light";
    src: url("../public/fonts/plain-light-webfont.woff");
}
@font-face {
    font-family: "plain-regular";
    src: url("../public/fonts/plain-regular-webfont.woff");
}
@font-face {
    font-family: "silkserif-lightitalic";
    src: url("../public/fonts/silkserif-lightitalic-webfont.woff");
}
@font-face {
    font-family: "silkserif-regularitalic";
    src: url("../public/fonts/silkserif-regularitalic-webfont.woff");
}